APP_ENVIRONMENT=development
DATABASE_URL=postgresql://postgres:deepdeep@localhost:5432/societyzen
FIRST_USER_MOBILE=9876543210
FIRST_USER_HOME_NUMBER=9876543211       
FIRST_USER_ID=1
SOCIETY_ID= eAK6isADm
SOCIETY_NAME = igate
FIRST_USER_FIRST_NAME=deep
FIRST_USERNAME=deep
FIRST_USER_LAST_NAME=sodha
FIRST_USER_AADHAR_NUMBER=12234567890
FIRST_USER_PHOTO_URL=https://loremflickr.com/320/240/people
FIRST_USER_EMAIL=sodha.d@turing.com
PRIVATE_KEY=b5a2a84f8ca0cf36c79ea7cfa364cc849e3f55cd54bda828992984088d9702f8
PUBLIC_KEY=abad1f1ba3144fa715d0da60fe65d906d5d1437a9c028d4b0bdcf548bef0944e
TEXT_LOCAL_API_KEY=Mzc0YjU4NjM1OTQyNmY2ZTU2MzE1ODMxNzc2MjRmMzc=
FIRST_USER_AUTH_ID=11
FIRST_USER_PASSWORD=Deep@123 